* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.listItem {
  font-family: Arial;

  color: #253042;
  font-weight: 700;
  display: grid;
  grid-template-rows: 80px;
  grid-template-columns: 140px 105px 276px 439px 153px 130px 46px 46px;
  font-size: 18px;
  margin-top: 20px;

  width: 1352px;
  align-items: center;
  border-bottom: 1px solid #c6cddf;
  height: 80px;
}

h1 {
  margin-top: 39px;
  margin-left: 108px;
  font-family: Arial;
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 42px;
}

.list_container1 {
  width: 1360px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  max-height: 520px;
  flex-wrap: wrap;
  margin-left: 134px;
}
.descriptions {
  margin-left: 60px;
  display: flex;
  flex-direction: row;
}

.descrription {
  font-family: "Segoe UI";
  font-size: 14px;
  color: #a1acc0;
  margin-top: 10px;
  margin-left: 76px;
  width: 200px;
}

.codes {
  display: grid;

  grid-template-columns: 279px 279px 279px 279px 279px;
  margin-left: 108px;
  margin-top: 60px;
  width: 1339px;
}

.triangle {
  cursor: pointer;
  margin-left: 8px;
}

.list {
  display: grid;
  grid-template-columns: 140px 105px 276px 439px 153px;
  width: 1000px;
  color: #a1acc0;
  font-family: "Segoe UI";
  font-weight: 500;
  font-size: 18px;
  margin-left: 134px;
}

.code_container {
  color: #396aff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 231px;
  height: 112px;
  border-radius: 8px;
  background-color: #e1e9ff;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}
@media screen and (max-width: 1401px) {
  h1 {
    margin-left: 40px;
  }

  .list {
    grid-template-columns: 140px 105px 276px 220px 153px;
    margin-left: 20px;
  }
  .listItem {
    width: 938px;
    grid-template-columns: 140px 105px 276px 220px 153px 130px 46px 46px;
  }
  .list_container1 {
    justify-content: flex-start;
    width: 1120px;
    max-height: 520px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .codes {
    margin-left: 40px;
    grid-template-columns: 210px 210px 210px 210px 210px;
    width: 840px;
  }

  .code_container {
    width: 180px;
    font-size: 30px;
    margin-right: 30px;
  }
  .descriptions {
    display: grid;
    grid-template-columns: 175px 175px 175px 175px 175px;
    grid-template-rows: 100px;
    column-gap: 35px;
    margin-left: 30px;
    height: 80px;
  }
  .descrription {
    height: 80px;
    text-align: center;
    margin-left: 0px;
  }
}
@media screen and (max-width: 2048px) {
  .list_container1 {
    width: 1500px;
    max-height: 500px;
    justify-content: flex-start;
  }
}
@media screen and (min-width: 2879px) {
  .list_container1 {
    width: 2200px;
    max-height: 1500px;
    justify-content: flex-start;
  }
  .listItem {
    grid-template-columns: 240px 205px 376px 839px 253px 130px 46px 46px;
    font-size: 30px;
  }
  .list {
    grid-template-columns: 240px 205px 376px 839px 253px;
    font-size: 30px;
  }
  h1 {
    font-size: 40px;
  }
}
